@media (min-width: 576px) {
    .slider_text {
        font-size: 40px;

    }

    .lang_size {
        font-size: 12px;
    }

    .lang_size span {
        font-size: 12px;
    }

    .nav-item a {
        font-size: 15px;
    }
    .nav-link {
        font-size: 15px;
    }
    .drop-item {
        font-size: 20px;
    }
 
    .about-text {
        font-size: 20px;
    }
    .about-text-count {
        font-size: 10px;
    }
}


@media screen and (min-width: 1450px) {
    .slider_text {
        font-size: 70px;
    }

    .lang_size {
        font-size: 15px;
    }

    .lang_size span {
        font-size: 15px;
    }

    .nav-item a {
        font-size: 22px;
    }
    .nav-link {
        font-size: 20px;
    }

    .drop-item {
        font-size: 22px;
    }

    .about-text-count {
        font-size: 25px;
    }
}