{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-breadcrumb ">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="font-family: sans-serif;">
            Zavod tarixi</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item"><a href="#">Zavod xronikasi</a></li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="header-history text-dark">
        <h5 class="mt-4 text-dark" style="font-family: sans-serif; line-height: 35px;">"Bugun biz birinchi marta boshqa
            davlatlarning vositachiligi mamlakatimizning chiroyli va noyob boyligini
            namoyish qila olamiz. Dunyo hamjamiyati bilan birlashishga, tashqi dunyo uchun ochiqlikka intilish bizning
            bu
            boyliklardan foydalanish uchun ajoy imkoniyatlarni yaratadi."
        </h5>
        <b class="fs-5 text-dark">
            Islom Karimov
        </b>
        <br><br>
        <em class="mt-5 lh-lg">O'zbekiston – neft va gaz konlariga boy mamlakat. Mustaqillikning dastlabki kunlaridanoq
            mamlakat rahbariyati iqtisodiyot va yoqilg'i-energetika kompleksini rivojlantirishning ustuvor
            yo'nalishlarini belgilab oldi. Respublika hukumati va "O'zbekneftgaz" AJ rahbariyati zamonaviy ilg'or
            innovatsion texnologiyalar, yuqori samarali uskunalar, yangi materiallar, shu jumladan yangi katalizatorlar,
            eskirgan uskunalarni almashtirish, yirik investitsiya loyihalarini jalb etish orqali neft va gaz sanoatini
            rivojlantirish bo'yicha maqsadli ishlarni olib bormoqda.</em>

        <br>
        <p class="mt-2 mb-0" style="text-indent: 50px;">1997 yil 22 avgustda Buxoro neftni qayta ishlash zavodining
            birinchi
            navbati ishga tushirildi. Zavodni
            loyihalashtirish va qurish «TECHNIP» konsorsiumi ishtirokida amalga oshirildi. Loyihalash va qurish
            jarayonida
            uglevodorodlarni qayta ishlash sohasida fan va texnikaning eng zamonaviy yutuqlaridan foydalanildi. Suyuq
            uglevodorodlarni atmosferada bosimi ostida haydash uchun litsenziyalangan texnologik jarayonlar (Fransiya),
            kerosinni demerkaptanizatsiya qilish (MERICHEM, AQSH), dizel yonilg'isini gidro tozalash (Yaponiya),
            katalizatorning
            doimiy regeneratsiyasi orqali katalitik reforming (Fransiya), aminli tozalash bilan gazni fraksiyalash
            (Yaponiya),
            oltingugurtni ajratib olish (Comprimo, Gollandiya).</p>

        <p class="mb-0" style="text-indent: 50px;">Zavodning ishlab chiqarish quvvatlari turli markadagi motor
            benzinlari (AI 91, 92, 95, QuWatt 95, 98 va 80), yarim sintetik JetA-1-SSF va DJЕT A-1 aviatsiya yonilg'isi,
            EKO L (yozgi) dizel yonilg'isi, EKO Z (qishki ), Yevro K4, K5 va K6 turdagi dizel yonilg'isi, TDL
            markali(yozgi) dizel yonilg'isi, TDU (og'irlashtirilgan), M100 va M40 markali qozonxona moyi, pirolizli
            gazolin, propan xladogenti, suyultirilgan neft gazi (SNG), S4-135 / 220 uglevodorod eritkichi, texnik
            oltingugurt kabi neft mahsulotlarini ishlab chiqarish imkonini beradi.</p>

        <p class="mb-0" style="text-indent: 50px;">Buxoro neftni qayta ishlash zavodi (Buxoro NQIZ) o'z faoliyatida uzoq
            muddatli
            rivojlanish tamoyillariga asoslanadi. Korxonaning asosiy ustuvor yo'nalishlari - xavfsizlik, tabiatga
            ehtiyotkorona munosabat, xodimlar malakasining oshirilishi va hayot sifatini muntazam ravishda yaxshilash.
        </p>
        <p class="mb-0" style="text-indent: 50px;">Mustaqillik yillarida mamlakat taraqqiyoti ko'p jihatdan
            yoqilg'i-energetika
            kompleksining rivojlanishiga bog'liq edi. Buxoro neftni qayta ishlash zavodi(NQIZ)ning qurilishi respublika
            uchun tarixiy voqeaga aylandi.
        </p>
        <p class="mb-0" style="text-indent: 50px;">O'zbekiston Respublikasining birinchi Prezidenti I.A. Karimov
            tashabbusi bilan
            Buxoro viloyati Qorovulbozor tumanida Buxoro neftni qayta ishlash zavodi qurildi. O'zbekiston Respublikasi
            Vazirlar Mahkamasining 03.08.1993 yildagi 389-sonli qaroriga binoan 1993 yilda korxona qurilishi boshlandi.
        </p>
        <p class="mb-0" style="text-indent: 50px;">1993-1997 yillarda zavodni va ishlab chiqarishning texnologik qismini
            muhandislik
            ta'minoti bilan jihozlangan yordamchi inshootlar kompleksini loyihalash va qurish bo'yicha faol ishlar olib
            borildi. Loyihalash va qurilish jarayonida uglevodorodlarni qayta ishlash sohasida fan va texnikaning eng
            zamonaviy yutuqlari ishlatilgan. Suyuq uglevodorodlarni atmosfera bosimi ostida haydash uchun
            litsenziyalangan texnologik jarayonlar (Fransiya), kerosinni demerkaptanizatsiyalash (MERICHEM, AQSH), dizel
            yonilg'isini gidrotozatsiyalash (Yaponiya), katalizator regeneneratsiyasiyali uzluksiz katalitik riforming
            (Fransiya), aminli tozalashli gazni fraksiyasilash (Yaponiya), oltingugurtni ajratib olish (Coprimo,
            Gollandiya).
        </p>
        <p class="mb-0" style="text-indent: 50px;">Zavodning texnologik qismini loyihalash va qurish Fransiyaning
            "MERICHEM"
            kompaniyasi ishtirokida amalga oshirildi. Turkiyaning "Gamma" kompaniyasi zavodning texnologik qismi
            qurilishida ishtirok etdi.
        </p>
        <p class="mb-0" style="text-indent: 50px;">Umumzavod xo'jaligi obyektlari qurilishining loyiha-smeta hujjatlari
            bosh
            loyihachilar "O'zbekITLIneftgaz" instituti, "Neftegaznauka" IICHB, "O'zbekneftgaz" MXK tomonidan ishlab
            chiqilgan va "NeftITLI" OAJ, "O'ztyajprom" AJ, "Uztyajimxprom" AJ "O'zITIximloyiha" AJ,
            Totemiryo'lloyiha"DAK, O'zbekiston temir yo'llari", "O'zgiprovodprom", Davlatarxiv O'zDMTQI yordamchi
            pudratchi loyiha tashkilotlari qurib tugatilgan. Buxoro neftni qayta ishlash zavodi umumzavod xo'jaligi
            inshootlarini qurilish-montaj shlari respublikaning qurilish-montaj kompaniyalari va tashkilotlari tomonidan
            amalga oshirildi.
        </p>
        <br>
        <p class="fs-6 text-dark my-2" style="text-indent: 50px; font-weight: bold;">
            1997 yil 22 avgustda O‘zbekiston Respublikasining birinchi Prezidenti I.A Karimov ishtirokida Buxoro neftni
            qayta ishlash zavodining birinchi bosqichi ishga tushirildi.
        </p>


    </div>

</div>
<br>
{% endblock %}