{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-breadcrumb ">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="font-family: sans-serif;">
            Rahbariyat</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item"><a href="#">Rahbariyat</a></li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/fazilov.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Fazilov Akbar Alisherovich</h4>
            <p class="fs-6 text-dark ">
                "Buxoro NQIZ" MCHJ direktori
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Oyning oxirgi payshanbasi 15:00 dan 17:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (65) 364-45-56
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    <hr>
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/mustafoyev.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Mustafoyev Baxtiyor Jumaboyevich</h4>
            <p class="fs-6 text-dark ">
                Bosh muhandis
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Har juma 16:00 dan 18:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (65) 364-40-39
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    <hr>
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/amonov.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Amonov Zavqiddin Anasovich</h4>
            <p class="fs-6 text-dark ">
                Bosh muhandis
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Har payshanba 15:00 dan 17:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (95) 600-40-21
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    <hr>
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/nurxanov.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Nurxanov Alisher Alimovich</h4>
            <p class="fs-6 text-dark ">
                Direktorning fuqarolar murojaatini ko'rib chiqish, infrastrukturani rivojlantirish va xodimlar bo'yicha
                o'rinbosari
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Har chorshanba 10:00 dan 12:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (95) 600-46-64
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    <hr>
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/jumayev.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Jumayev O'tkir Muhammadovich</h4>
            <p class="fs-6 text-dark ">
                Direktorning moliya va iqtisodiyot bo'yicha o'rinbosari
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Har seshanba 16:00 dan 18:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (65) 364-42-43
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    <hr>
    <div class="row my-5">
        <div class="col-lg-3 d-flex justify-content-center m-0">
            <img src="{% static 'img/kaxxarov.jpg' %}" width="100%" class="rounded" alt="">
        </div>
        <div class="col-lg-9 pt-5 pt-lg-0 content">
            <h4 style="font-family: sans-serif; margin-top: 25px;">Qaxxorov Sanjar Baxshullayevich</h4>
            <p class="fs-6 text-dark ">
                Direktorning kapital qurilish bo'yicha o'rinbosari
            </p>

            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clock "
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Qabul kunlari: <br>
                        <span>
                            Har dushanba 15:00 dan 17:00 gacha
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"
                        style="width: 20%; font-size: 25px; color: rgba(255, 115, 0, 0.397);"></i>
                </div>
                <div class="col-md-7">
                    <p class="mt-3 text-dark">Telefon: <br>
                        <span>
                            +998 (65) 364-11-21
                        </span>
                    </p>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary mt-4  mx-3 "
                style="border-radius: 5px; transition-duration: 0.3s;">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Mehnat faoliyati</button>

        </div>
    </div>

    
</div>


<!-- <div class="container pb-4">
    <div class="header-history text-dark">
        <br>
        <p class="fs-5 text-center fw-bold text-dark py-3" style="text-align: center;">
            “Buxoro neftni qayta ishlash zavodi” MCHJning sanoat xavfsizligi sohasi hamda sifat menejmenti, ekologik va
            energetik menejment, sog`liqni saqlash va mehnat xavfsizligini ta’minlash menejmenti tizimlari sohasidagi
            <br>
            <b> S I Y O S A T I</b>
        </p>

        <p class="mt-2 mb-0" style="text-indent: 50px;">“Buxoro neftni qayta ishlash zavodi” MCHJ neft mahsulotlarini
            ishlab chiqarish hamda qayta ishlash bo`yicha xizmat ko`rsatish faoliyati bilan shug`ullanadi. “Buxoro
            neftni qayta ishlash zavodi” MCHJning asosiy vazifasi O`zbekiston Respublikasi iste’molchilarini bir maromda
            sifatli neft mahsulotlari bilan ta’minlash va eksportni o`zlashtirishga yo`naltirilgan. Ushbu vazifani
            amalga oshirish uchun "Buxoro neftni qayta ishlash zavodi" MCHJ quyidagi strategik yo`nalishlarni
            belgilaydi: </p>

        <p class="mt-1" style="text-indent: 50px;">
            <em class="fw-bold">"ISTE’MOLCHI"</em>– Iste’molchilarning qoniqishlarini doimiy ravishda oshirib borish
            yo`li bilan yetkazib
            berilayotgan neft mahsulotlari va ko`rsatilayotgan xizmatlarning sifatliligiga ishonchini ta’minlash.
        </p>
        <p class="mt-1" style="text-indent: 50px;">
            <em class="fw-bold">“DAVLAT VA JAMIYAT”</em> – Davlat, tarmoq va jamoat dasturlarini amalga oshirish orqali
            O`zbekiston Respublikasi yoqilg`i-energetika kompleksining rivojlanishida faol ishtirok etish.
        </p>
        <p class="mt-1" style="text-indent: 50px;">
            <em class="fw-bold">“AKSIYADORLAR”</em> – Barqaror iqtisodiy o`sish bilan aksiyadorlarning korxona
            istiqboliga bo`lgan ishonchini to`la qozonish.
        </p>
        <p class="mt-1" style="text-indent: 50px;">
            <em class="fw-bold">“YETKAZIB BERUVCHILAR”</em> – Kafolatlangan xom-ashyo bazasiga erishish.
        </p>
        <p class="mt-1" style="text-indent: 50px;">
            <em class="fw-bold">“SALOHIYAT”</em> – Ichki salohiyatdan foydalangan holda menejment tizimlarini doimiy
            takomillashtirib borish:
        </p>

        <ul style="margin-left: 30px;">
            <li class="py-2  mx-2 px-2">Biznes jarayonlarning samarali ishlashi;</li>
            <li class="py-2  mx-2 px-2">Xodimlarning kasbiy mahorati;</li>
            <li class="py-2  mx-2 px-2">“Ishchi-xodimlarning hayoti va sog`lig`i ishlab chiqarish faoliyati
                natijalaridan ustun” ligi tamoyili asosida ishchi-xodimlarning soglig`ini saqlash va mehnat
                xavfsizligini ta’minlash;</li>
            <li class="py-2  mx-2 px-2">Ekologik samaradorlik va tabiiy resurslardan oqilona foydalanish yo`li bilan
                sog`lom kelajakka kafolat;</li>
            <li class="py-2  mx-2 px-2">Korxona ishchi-xodimlari hamda ular oilasining ijtimoiy va hayot darajasini
                oshirish;</li>
            <li class="py-2  mx-2 px-2">Xodimlarni birlashtirilgan menejment tizimlariga jalb qilish maqsadida ularni
                ruhlantirish va layoqatini oshirish;</li>
            <li class="py-2  mx-2 px-2">Jamiyat va shaxsni korxonaning xavfli ishlab chiqarish ob`yektlaridagi
                avariyalar, noxush hodisalar va ularning oqibatlaridan himoyalash;</li>
            <li class="py-2  mx-2 px-2">Energetik samaradorlikni oshirish va yoqilg`i-energetika resurslaridan oqilona
                foydalanish yo`li bilan energetik natijadorlikni doimiy takomillashtirib borish;</li>
            <li class="py-2  mx-2 px-2">Korxona va butun tarmoqni samarali rivojlantirish maqsadida innovatsion
                g`oyalarni izlash va joriy etish.</li>
        </ul>

        <p class="mt-1">
            “Buxoro neftni qayta ishlash zavodi” MCHJ rahbariyati ushbu siyosat va undagi barcha yo`nalishlarning
            muvofiqlashtirish ishlarini amalga oshirish maqsadida xodimlar uchun qulay va xavfsiz mehnat sharoitlarini
            ta’minlash, xavfli ishlab chiqarish ob’yektlarida avariya sodir bo`lganda yetkaziladigan zarar uchun
            javobgarlikni majburiy sug`urtalash, atrof-muhit ifloslanishining oldini olish, zaruriy resurslar va
            ma’lumotlar bilan to`liq ta’minlash, ISO 9001, ISO 14001, ISO 45001, ISO 50001, AS 9100 xalqaro standartlar
            talablariga muvofiq menejment tizimlarining natijadorligini doimiy oshirib borish, O`zbekiston
            Respublikasining amaldagi qonunchiligiga va boshqa talablarga amal qilishni o`z zimmasiga oladi.
        </p>
        <p class="fs-6 text-dark my-2" style="font-weight: bold;">
            “Buxoro neftni qayta ishlash zavodi” MCHJning siyosati 2022-yil 10-yanvardagi 16-sonli buyrug'i bilan
            tasdiqlangan.
        </p>


    </div>

</div> -->

{% endblock %}